@forward 'element-plus/theme-chalk/src/mixins/config.scss' with ($namespace: 'crx'
);

// 默认主题色 修改时确定对应的变量名称
// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
@forward "element-plus/theme-chalk/src/common/var.scss" with ($colors: ("primary": ("base": #ff7700, ),
  ),
  $pagination: ("button-bg-color": #fff,
  ),
  $avatar: ("bg-color": #fff,
  ),
  $button: ("outline-color": "transparent",
    "border-color": #ddd,
  ),
  $dropdown: ("menuItem-hover-color": #333,
    "menuItem-hover-fill": #f5f5f5,
  ),
  $border-radius: ("base": 2px,
  ),
  $radio-button: ("checked-bg-color": rgba(255, 241, 229, 1),
    "checked-text-color": #ff7700,
    "checked-border-color": #ff7700,
  ),
  $input: ("border-color": #ddd,
    "hover-border": #aaa,
    "icon-color": #2f2e3f,
    "text-color": #333,
    "placeholder-color": #bbb,
  ),
  $dialog: ("border-radius": 4px,
  ),
  $checkbox: ("checked-text-color": #181322,
    "text-color": #181322,
    "disabled-checked-input-fill": #eee,
    "disabled-checked-input-border-color": #ddd,
  ),
  $select: ("input-color": #333,
  ),
  $fill-color: ("light": #f5f5f5,
  ),
  $text-color: ("regular": #333,
  ),
  $disabled: ("text-color": #666,
  ));